.inline-block{
    display:inline-block;
    vertical-align:top;
}

.logo{
    padding-left:10px;
   
}
nav{
    width:88%;
    padding-top:4%;
    text-align:right;
}
nav ul {
    text-align:right;
    padding-right:10px;
}

/*Below this line is the hero image section.*/

.content{
    background-color:#CAD3E8;
    width:auto;
    height:450px;
    
}
.hiiam{
    text-align:left;
    padding-top:100px;
    padding-left:400px;
}
h1{
    text-align:center;
    font-size:50px;
    padding-right:20px;

}
.auxuidesigner{
    text-align:right;
    padding-right:250px;
}

/*About Me Section CS.*/

h2.aboutme {
    text-align:center;
    border-style:solid;
}
.insideaboutme{
    border-style:solid;
    display:flex;
    height:500px;

}

.leftparragraph{
   float:left;
   word-wrap:break-word;
   height:400px;
   width:300px;
   padding-top:180px;
   padding-left:120px;
}

.rightparragraph{
    float:right;
    word-wrap:break-word;
   height:400px;
   width:300px;
   padding-top:180px;
   padding-right:120px;
}
#aboutme img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}

/* My Skills section coded using CSS flex.Style as two columns. */

h2.myskills{
    border-style:solid;
    border-width:2px;
    text-align:center;
}
.container-fluid{
    float:center;
    border-style:solid;
    border-width:2px;
    height: 600px;
    width: 50;
    min-width: 80%;
    display: flex;
    position: relative;
}

.left{
    float:left;
    background-color:#CAD3E8;
    margin:auto;
    height:350px;
    width:250px;
    

}
.left li {
    padding-left:20px;
}
.right{
    float:right;
    background-color:#CAD3E8;
    margin:auto;
    height:350px;
    width:250px;
}
.right li {
    padding-left:20px;
}


/*below this line starts the my work section. */

h2.mywork{
    border-style:solid;
    border-width:2px;
    text-align:center;  
}

.project1{
    margin:auto;

}
.project2{
    margin:auto;
}
.project3{
    margin:auto;
}
h5{
    text-align:center;
}

.backtotop{
    position:fixed;
    bottom:20px;
    right:20px;
    text-decoration: underline;
    background-color: #CAD3E8;
    border: none;
    height:60px;
    width:100px;
}
/*Below this line is the footer CSS*/

footer ul{
    padding: 5px;
    text-align:center;
}




